<div class="about_us">
    <div class="small-container">
        <div class="row__aboutus">
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Sukanta Majhi <br />
                    <strong>Std Code:</strong> BWU/BCA/18/026 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Sukanta Majhi
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Tanmoy Roy <br />
                    <strong>Std Code:</strong> BWU/BCA/18/034 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Tanmoy Roy
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Soumyajit Banerjee
                    <br />
                    <strong>Std Code:</strong> BWU/BCA/18/011 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Soumyajit Banerjee
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Arkadeb Mondol
                    <br />
                    <strong>Std Code:</strong> BWU/BCA/18/045 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Arkadeb Mondol
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Rajan Shaw
                    <br />
                    <strong>Std Code:</strong> BWU/BCA/18/012 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Rajan Shaw
                </h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>
                    <strong>Name:</strong> Rimpa Banerjee <br />
                    <strong>Std Code:</strong> BWU/BCA/18/062 <br />
                    <strong>DEPARTMENT:</strong> Computational Science <br />
                </p>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <h3>
                    Rimpa Banerjee
                </h3>
            </div>
        </div>
    </div>
</div>
