<div class="footer">
    <div class="footer__container">
        <div class="foo-row">
            <div class="foo-col-1">
                <a href="/">
                    <img src="/images/logo.svg" alt="Logo" />
                </a>
                <p>
                    Order and get fresh product delivery in your door.
                </p>
            </div>
            <div class="foo-col-2">
                <h3>GrowBasket</h3>
                <p><a href="/about">About Us</a></p>
                <p><a href="/privacy">Privacy Policy</a></p>
                <p><a href="/affiliate">Affiliate</a></p>
                <p>
                    <a href="/terms-and-conditions">Terms and Conditions</a>
                </p>
            </div>
            <div class="foo-col-3">
                <h3>Help</h3>
                <p><a href="/faqs">FAQs</a></p>
                <p><a href="/contact">Contact Us</a></p>
                <p><a href="/feedback">Feedback</a></p>
                <p><a href='/product/sell'>Sell</a></p>
            </div>
            <div class="foo-col-4">
                <h3>Social Media</h3>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://w
				ww.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <hr />
        <div class="foo-row-cr">
            <p align="left">
                Copyright &copy; GrowBasket - All rights reserved
            </p>
        </div>
    </div>
</div>
</body>

</html>
