{{>head}}
<div id="web__header">
    <div class="header__container">
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.svg" width="125px" alt="growbasket logo" class="logo__image" />
                </a>
            </div>
            <div class="header__search">
                <input type="text" class="header__searchInput" placeholder="Search Products Here..." />
                <i class="fa fa-search" id="header__searchIcon"></i>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/product">Product</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/users/signup">Account</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
