{{>head}}
<div id="web__header">
    <div class="header__container">
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.svg" width="125px" alt="growbasket logo" class="logo__image" />
                </a>
            </div>
            <div class="header__search">
                <form action='/search?key=%QUERY' method='get' id="searchinput" class="searchinput" name="searchinput">
                    <input type="text" class="header__searchInput" placeholder="Search Products Here..." name="search"
                        spellcheck="false" autocomplete="off" />
                    <button type="submit"><i class="fa fa-search" id="header__searchIcon"></i></button>
                </form>
            </div>
            <div class='showproduct'>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/product">Product</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    {{#if isAuthenticated}}
                    <li class="account">
                        <a href='/account' id="account">{{uname}}</a>
                        <div class="dropdown-content">
                            <a href='/dashboard'>Your Account</a>
                            <a href="/sell">Sell your product</a>
                            <a href="/addlist">Added Products</a>
                            <a href="/wishlist">Wishlist</a>
                            <a href='#'>Coupons</a>
                            <a href='#'>Your orders</a>
                        </div>
                    </li>
                    <li>
                        <a href='/logout'>Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a href='/users/signup'>Signup</a>
                    </li>
                    <li>
                        <a href='/users/login'>Login</a>
                    </li>
                    {{/if}}
            </nav>
        </div>
    </div>
</div>
