@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:ital,wght@1,300&display=swap');

$primary-color: #f91616;
$second-color: #1e1e1e;

$heading: 'Montserrat', sans-serif;
$body: 'Inter', sans-serif;
