/* No CSS */
@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.header {
	height: 8em;
	display: flex;
	text-align: center;
	background: url(../images/grocery.jpg);
	color: white;
	font-size: 30px;
	flex-direction: column;
	justify-content: center;
}
.content {
	padding: 20px;
	/* margin-left: 800px; */
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}
.title {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}
.row {
	display: flex;
	flex-direction: column;
	width: 71%;
	justify-content: center;
}
.text2 {
	padding: 10px 0;
	text-align: justify;
}
.etc {
	font-size: 20px;
}
.span {
	display: flex;
	flex-direction: column;
}
.about__row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 5px 0;
}
.left {
	width: 40%;
}
/*responsive*/
@media (max-width: 991px) {
	.team-section .team-items .item {
		flex-basis: calc(50% - 30px);
		max-width: calc(50% - 30px);
	}
}
@media (max-width: 767px) {
	.team-section .team-items .item {
		flex-basis: calc(100%);
		max-width: calc(100%);
	}
}
#heading {
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
}
