@import 'variable';
.footer__container {
	width: 1300px;
	margin: auto;
	/* margin-top: 100vh; */
	padding-left: 25px;
	padding-right: 25px;
	// background-color: $second-color;
	display: flex;
	flex-direction: column;

	.foo-row-cr {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: center;
		padding: 10px;
		background-color: $second-color;
		h3 {
			color: $primary-color;
			padding-bottom: 4%;
		}
		.heading_text {
			font-size: 20px;
			font-weight: 500;
			color: $primary-color;
		}
		p {
			color: #ffffff;
			font-weight: 900px;
		}
	}
	hr {
		background-color: #fff;
		margin-left: -200px;
		width: 8000px;
		overflow: hidden;
	}
}
.footer {
	height: auto;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	width: 100%;
	position: relative;
	text-align: left;
	background-color: $second-color;
	overflow-x: hidden;
	overflow-y: hidden;
}
.foo-row {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;

	h3 {
		color: $primary-color;
		padding-bottom: 4%;
		font-family: $heading;
		font-size: 20px;
	}

	.heading_text {
		font-size: 20px;
		font-weight: 500;
		color: $primary-color;
	}
	a {
		text-decoration: none;
		color: #fff;
		font-family: $body;
		margin: 5px 0;
	}
	p {
		margin: 10px 0;
	}
	.foo-col-1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			font-weight: 500;
			color: #fff;
		}
		img {
			height: auto;
			width: 70%;
			/*padding-bottom: 15%;*/
			/* margin-left: 5%; */
		}
	}
	#pic {
		height: auto;
		width: 23%;
		border-radius: 10px;
	}
	.foo-col-3 {
		padding-bottom: 25px;
	}

	.foo-row .foo-col-2 .foo-col-3 {
		p {
			color: black !important;
		}
	}

	.foo-col-4 {
		.fa {
			padding: 10px;
			/* background-color: #fff; */
			font-weight: 600;
			font-size: 20px;
		}
	}
	.fa-facebook-f:before,
	.fa-facebook:before {
		content: '\f09a';
		color: #1195f5;
	}
	.fa-twitter:before {
		content: '\f099';
		color: #1da1f2;
	}
	.fa-instagram:before {
		content: '\f16d';
		color: #8a3ab9;
	}
	.fa-youtube-play:before {
		content: '\f16a';
		color: #ff0000;
	}
}
