@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	// overflow-y: scroll;
}

.logo {
	width: 16%;
	height: auto;
	display: flex;
	align-items: center;
}

.logo {
	.logo__image {
		width: 180px;
		height: auto;
	}
}

.navbar {
	display: flex;
	height: 70px;
	justify-content: center;
	padding: 0 30px;
	top: 0;
	width: 100%;
	margin: auto;
	z-index: 100;
	background-color: #111b1e;
	z-index: 1000;
}
nav {
	text-align: right;
	padding-left: 10px;
	position: relative;
	display: flex;
	align-items: center;
}

nav {
	ul {
		list-style-type: none;
		font-size: 15px;
		padding: 10px 0;
		font-weight: 550px;

		li {
			display: inline-table;
			margin-right: 10px;
			color: #fff;
			padding: 0 5px;

			a {
				display: grid;
				font-size: 16px;
				align-items: center;
				text-decoration: none;
				color: #d4d1d1;

				&:hover {
					color: #ffffff;
					text-underline-position: below;
				}
				&:focus {
					color: #fff;
				}
			}
		}
	}
}

p {
	color: #555;
}

.header__container {
	margin: auto;

	background-color: #f1f1f1;
	align-items: center;
}
.header__search {
	// display: flex;
	flex: 1.8;
	align-items: center;
	justify-content: center;
	border: #ffffff;
	border: 1;
}
.header__search {
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2%;
	}

	.header__searchInput {
		height: 43px;
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		padding: 21.59px;
		padding-left: 20px;
		padding-right: 50px;
		width: 100%;
		border-radius: 8px 0 0 8px;
		border: none;
		outline: 0 none;
		background-color: white;
		box-sizing: border-box;
		transition: none;
	}

	#header__searchIcon {
		padding: 13.2px;
		height: auto;
		width: auto;
		font-size: 17px;
		background-color: #ffffff;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		border: none;
		outline: 0 none;
	}
	button {
		display: inline;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		border: none;
		outline: 0 none;
	}
}
