.container {
    /* width: 1300px; */
    margin: auto;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    height: 100vh;
}
.row {
	display: flex;
    align-items: center;
    position: relative;
    /* top: 32px; */
    flex-wrap: wrap;
    height: 100vh;
    /* padding: 20px; */
    /* margin: auto; */
    width: 100%;
    justify-content: space-evenly;
    /* padding: 0 10em; */
}
}
.row h1 {
	color: rgb(240, 0, 0);
}
.row .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #ff0000;
}
.col-2 {
	/* flex-basis: 50%;
	min-width: 300px; */
}
.col-2 img {
	max-width: 100%;
	padding: 50px 0;
	height: 500px;
}
.col-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	color: rgb(240, 0, 0);

}
.btn {
	display: inline-block;
	background: #f0361d;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
	cursor: pointer;
}
.btn:hover {
	display: inline-block;
	background: #8f0404;
	color: #fff;
	border-radius: 30px;
	transition: 0.5s;
	transform: scale(1.04);
}
.header {
	background: radial-gradient(#7de1ff, #a2ff6c);
	height: 100vh;
	position: relative;
	/* padding-bottom: 90px;
}
.category {
	margin: 70px 0;
}
.col-3 {
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 30px;
}
.col-3 img {
	width: 100%;
}
.small-container {
	width: 100%;
	margin: auto;
	/* padding-left: 25px;
	padding-right: 25px; */
}
.col-4 {
	text-align: center;
	width: 300px;
	padding: 30px 10px;
	margin: 30px 0;
	border-radius: 5px;
	transition: transform 0.5s;
	background-color: #fff;
	box-shadow: 5px 10px 18px #07ff1c;
}
a {
	text-decoration: none;
}
.col-4 img {
	width: 100%;
}
.title {
	text-align: center;
	color: #555;
	margin: 40px auto;
	position: relative;
	line-break: 60px;
}
.title::after {
	content: "";
	background: #ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	margin-bottom: -4px;
	bottom: 0;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
}
h4 {
	color: #d41d1d;
	font-weight: normal;
}
.col-4 p {
	font-size: 14px;
}
.rating .fa {
	color: #ff523b;
}
.col-4:hover {
	transform: scale(1.04);
	box-shadow: 5px 10px 18px #faed27;
}
.showmore {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
#show_more {
	padding: 16px 30px;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	outline: none;
	border: none;
	border-color: transparent;
	background-color: #f00000;
	color: #fff;
	transition: 0.5s;
	font-weight: 600;
}
#show_more:hover {
	transition: 0.5s;
	transform: scale(1.05);
}

/* ------------------about-us------------------ */
.about_us {
	position: relative;
}
.about_us .col-3 {
	text-align: center;
	padding: 75px 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px 0px rgba(7, 7, 7, 0.39);
	cursor: pointer;
	transition: transform 0.5s;
}
.about_us .col-3 img {
	width: 50px;
	margin-top: 20px;
	text-align: center;
}
.about_us .col-3:hover {
	transform: translateY(-10px);
}
.fa fa-quote-left {
	color: #ff523b;
}
.col-3 p {
	color: #555;
	line-height: 28px;
}

.row__aboutus{
	display: flex;
	align-items: center;
	position: relative;
	/* top: 32px; */
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}
.row__aboutus .col-3{
	flex-basis: 30%;
	min-width: 200px;
	margin-bottom: 30px;
}