@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:ital,wght@1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
.logo {
	width: 16%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.logo .logo__image {
	width: 180px;
	height: auto;
}
.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 30px;
	top: 0;
	left: 0;
	width: 100%;
	margin: auto;
	z-index: 100;
	background-color: #111b1e;
	position: fixed;
	z-index: 1000;
}
nav {
	text-align: right;
	padding-left: 10px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
nav ul {
	list-style-type: none;
	font-size: 15px;
	padding: 10px 0;
	font-weight: 550px;
}
nav ul li {
	display: inline-table;
	margin-right: 10px;
	color: #fff;
	padding: 0 5px;
}
nav ul li a {
	display: -ms-grid;
	display: grid;
	font-size: 16px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #d4d1d1;
}
nav ul li a:hover {
	color: #ffffff;
	text-underline-position: below;
}
nav ul li a:focus {
	color: #fff;
}
p {
	color: #555;
}
.header__container {
	margin: auto;
	background-color: #f1f1f1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__search {
	-webkit-box-flex: 1.8;
	-ms-flex: 1.8;
	flex: 1.8;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: #ffffff;
	border: 1;
}
.header__search #searchinput {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 2%;
}
.header__search .header__searchInput {
	height: 43px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	padding: 21.59px;
	padding-left: 20px;
	padding-right: 50px;
	width: 100%;
	border-radius: 8px 0 0 8px;
	border: none;
	outline: 0 none;
	background-color: white;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: none;
	transition: none;
}
.header__search #header__searchIcon {
	padding: 13.2px;
	height: auto;
	width: auto;
	font-size: 17px;
	background-color: #ffffff;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	border: none;
	outline: 0 none;
}
.header__search button {
	display: inline;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	border: none;
	outline: 0 none;
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
input {
	display: block;
	width: 100%;
	height: 3em;
	padding: 30px 8px;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	background: rgba(255, 255, 255, 0.97);
	color: #212121;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-label fieldset {
	position: relative;
	margin: 5px 0;
}
.form-label fieldset:first-child input {
	/* border-radius: 4px 4px 0 0; */
}
.form-label fieldset:last-child input {
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.form-label fieldset + fieldset {
	border-top: 1px solid #ddd;
}
.form-label label {
	position: absolute;
	top: 15px;
	left: 8px;
	color: #909090;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-css-label input[data-empty='false'],
.form-css-label input:valid,
.form-css-label input:focus {
	padding: 30px 0;
	padding-left: 10px;
}
.form-css-label input:focus {
	outline: 0;
	background: #fff;
}
.form-css-label input[data-empty='false'] + label,
.form-css-label input:valid + label,
.form-css-label input:focus + label {
	color: #5856d6;
	font-weight: 700;
	font-size: 12px;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}
.form-js-label input[data-empty='false'],
.form-js-label input:focus {
	padding: 22px 8px 10px;
}
.form-js-label input:focus {
	outline: 0;
	background: #fff;
}
.form-js-label input[data-empty='false'] + label,
.form-js-label input:focus + label {
	color: #5856d6;
	font-weight: 700;
	font-size: 12px;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font: 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	background: #956baa;
	background-size: cover;
	color: #212121;
}
a {
	color: #adff2f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.section {
	width: 80%;
	min-width: 320px;
	height: auto;
	margin: 9% auto;
	text-align: center;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
	color: #fff;
}
.section h2 {
	margin: 0 0 0.5em;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.25;
}
.section p {
	margin: 0 0 1em;
}
.section form {
	max-width: 357px;
	margin: 0 auto 20px;
}
.showmore {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
#login {
	padding: 7px 30px;
	border-radius: 10px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	outline: none;
	background-color: #f00000;
	color: #fff;
	transition: 0.5s;
	font-weight: 600;
}
#show_more:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
#show_more:focus {
	outline: none;
}
#show_more:hover {
	outline: none;
}
.footer__container {
	width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.footer__container .foo-row-cr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10px;
	background-color: #1e1e1e;
}
.footer__container .foo-row-cr h3 {
	color: #f91616;
	padding-bottom: 4%;
}
.footer__container .foo-row-cr .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #f91616;
}
.footer__container .foo-row-cr p {
	color: #ffffff;
	font-weight: 900px;
}
.footer__container hr {
	background-color: #fff;
	margin-left: -200px;
	width: 8000px;
	overflow: hidden;
}
.footer {
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: auto;
	width: 100%;
	position: relative;
	text-align: left;
	background-color: #1e1e1e;
	overflow-x: hidden;
	overflow-y: hidden;
}
.foo-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 20px;
}
.foo-row h3 {
	color: #f04700;
	padding-bottom: 4%;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.foo-row .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #f91616;
}
.foo-row a {
	text-decoration: none;
	color: #fff;
	font-family: 'Inter', sans-serif;
	margin: 5px 0;
}
.foo-row p {
	margin: 10px 0;
}
.foo-row .foo-col-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.foo-row .foo-col-1 p {
	font-weight: 500;
	color: #fff;
}
.foo-row .foo-col-1 img {
	height: auto;
	width: 70%;
}
.foo-row #pic {
	height: auto;
	width: 23%;
	border-radius: 10px;
}
.foo-row .foo-col-3 {
	padding-bottom: 25px;
}
.foo-row .foo-row .foo-col-2 .foo-col-3 p {
	color: black !important;
}
.foo-row .foo-col-4 .fa {
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
}
.foo-row .fa-facebook-f:before,
.foo-row .fa-facebook:before {
	content: '\f09a';
	color: #1195f5;
	font-size: 30px;
}
.foo-row .fa-twitter:before {
	content: '\f099';
	font-size: 30px;
	color: #1da1f2;
}
.foo-row .fa-instagram:before {
	content: '\f16d';
	font-size: 30px;
	color: #8a3ab9;
}
.foo-row .fab .fa-youtube:before {
	content: '\f16a';
	font-size: 30px;
	color: #ff0000;
}
