.col-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 100%; */
	height: 15em;
	padding: 10px 80px;
	margin: 20px 20px;
	border: 1px solid transparent;
	border-color: #a2ff6c;
	border-radius: 7px;
	/* background: #667db6; */
	/* background: radial-gradient(#7de1ff, #a2ff6c); */
	/* margin-top: 10px;	/* margin-top: 10px; */
}

.col-4 a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
img {
	width: auto;
	height: 13em;
	object-fit: cover;
}
.product_details {
	margin-left: 10%;
	color: rgb(240, 0, 0);
}
.product_details p {
	color: rgb(240, 0, 0);
	font-size: 16px;
}
.btn {
	width: 13em;
	height: 40px;
	/* padding: 10px 37px; */
	margin: 0 5px;
	background-color: #ff0707;
	/* color: #fff; */
	outline: none;
	border: 1px solid #ff0707;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
.products {
	display: flex;
	align-items: center;
}
.buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
}
.alert {
	display: flex;
	justify-content: center;
	/* align-items: flex-start; */
	margin-top: 15%;
	width: 100%;
	color: red;
	font-size: 50px;
	opacity: 0.5;
}
