{{> header}}
<div class="header" style="margin-top: 0px">
    <h1 class="title">Growbasket.com</h1>
    <p>India's largest online Food and Grocery store</p>
</div>
<div class="content">
    <h2 id="heading">ABOUT US</h2>
</div>

<div class="about__row">
    <div class="left">
        <h2 class="text1">What is Growbasket.com?</h2>
        <p class="text2">
            Growbasket.com (Innovative Retail Concepts Private Limited)
            is India largest online food and grocery store. With over
            18,000 products and over a 1000 brands in our catalogue you
            will find everything you are looking for. Right from fresh
            Fruits and Vegetables, Rice and Dals, Spices and Seasonings
            to Packaged products, Beverages, Personal care products,
            Meats we have it all. Choose from a wide range of options in
            every category, exclusively handpicked to help you find the
            best quality available at the lowest prices. Select a time
            slot for delivery and your order will be delivered right to
            your doorstep, anywhere in Bangalore, Hyderabad, Mumbai,
            Pune, Chennai, Delhi, Noida, Mysore, Coimbatore,
            Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
            Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat,
            Nagpur, Patna, Indore and Chandigarh Tricity You can pay
            online using your debit / credit card or by cash / sodexo on
            delivery. We guarantee on time delivery, and the best
            quality!
        </p>
        <p class="text2">
            <strong class="etc">Happy Shopping</strong>
        </p>
    </div>
    <div class="right">
        <img class="img" src="/images/about-basket-vichl.png" />
    </div>
</div>
<div class="about__row">
    <div class="left">
        <h2 class="text1">Why should I use Growbasket.com?</h2>
        <p class="text2">
            rowsing and shopping for groceries. Discover new products
            and shop for all your food and grocery needs from the
            comfort of your home or office. No more getting stuck in
            traffic jams, paying for parking, standing in long queues
            and carrying heavy bags get everything you need, when you
            need, right at your doorstep. Food shopping online is now
            easy as every product on your monthly shopping list, is now
            available online at grow.com, India's best online grocery
            store.
        </p>
    </div>
    <div class="right">
        <img src="/images/about_shopbag.png" />
    </div>
</div>

<div class="about__row">
    <div class="row">
        <div class="span">
            <h2 class="text1">Where do we operate</h2>
        </div>
        <div class="span">
            <p class="text2">
                We currently offer our services in Bangalore, Hyderabad,
                Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore,
                Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar,
                Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat,
                Nagpur, Patna, Indore and Chandigarh Tricity city
                limits.
            </p>
        </div>
    </div>
</div>
{{> footer}}
