{{>header}}

<div class="container row">
    {{#if name}}
    <h1>Hi {{name}}, Welcome to your Dashboard</h1>
    {{/if}}
</div>
<div class="buttons">
<a href='/product/sell'><div class='sell__product button'>
    Sell your product
</div></a>
<a href='/addlist'><div class='addList button'>
    Product Added
</div></a>
 <a href='/wishlist'>
<div class='wishlist button'>
   Wishlist
</div></a>
<a href='/coupons'>
<div class='coupons button'>
    coupons
</div>
</a>
 <a href='/orders'>
<div class='orders button'>
   Your Orders
</div>
</a>
</div>

{{>footer}}
