{{>header}}

<div class="container row">
    {{#if name}}
    <h1>Hi {{name}}, Welcome to your Dashboard</h1>
    {{/if}}
</div>
<div class='sell__product'>
    <a href='/product/sell'>Sell your product</a>
</div>
<div class='addList'>
    <a href='/addlist'>Product Added</a>
</div>
<div class='wishlist'>
    <a href='/wishlist'>Wishlist</a>
</div>
<div class='coupons'>
    <a href='/coupons'>coupons</a>
</div>
<div class='orders'>
    <a href='/orders'>Your Orders</a>
</div>
{{>footer}}
