{{>header}}

<div class="container row">
    {{#if name}}
    <h1>Hi {{name}}, Welcome to your Dashboard</h1>
    {{/if}}
</div>
<div class='sell__product'>
    <a href='/product/sell'>Sell your product</a>
</div>
<div class='addList'>
    <a href='/addlist'>Product Added</a>
</div>
<div class='logout'>
    <button id="logout"><a href='/logout'>logout</a></button>
</div>
{{>footer}}
