{{> header}}
<div class="hero">
    <div class="row">
        <div class="col-2">
            <h1><span id="special">This is your </span><br><span id="groc">eGroccery store</span></h1>
            <p class="heading__text" contenteditable="false">This is your online eGroccery store. Here you <br>can find
                your necessary groccery item at a very cheap price.</p><a class="btn" href="/product">Shop Now →</a>
        </div>
        <div class="col-2">
            <img src='' alt='' />
        </div>
    </div>
</div>
{{> footer}}
