{{> header}}
<div class='msg'>
    {{msg}}
</div>
{{> slideshowcontainer}}
<h2 class="title">
    Products available in our store
</h2>
{{> products}}
{{!--
<script src='javascript/cart.js' defer></script> --}}
{{> footer}}
