{{>header}}

<div class="section">

    <h2>Register Here</h2>

    <form action="/users/account" method="POST" class="form-label form-css-label">
        <fieldset>
            <input id="username" name="username" type="text" autocomplete="off" required />
            <label for="username">Username*</label>
        </fieldset>
        <fieldset>
            <input id="firstName" name="firstName" type="text" autocomplete="on" required />
            <label for="firstName">First Name*</label>
        </fieldset>
        <fieldset>
            <input id="lastName" name="lastName" type="text" autocomplete="on" required />
            <label for="lastName">Last Name*</label>
        </fieldset>
        <fieldset>
            <input id="email" name="email" type="text" autocomplete="on" required />
            <label for="email">Email Address*</label>
        </fieldset>
        <fieldset>
            <input id="password" name="password" type="password" autocomplete="on" required />
            <label for="password">Password*</label>
        </fieldset>
        <fieldset>
            <input id="cpassword" name="cpassword" type="password" autocomplete="on" required />
            <label for="cpassword">Confirm Password*</label>
        </fieldset>
        <fieldset>
            <button id="login" type="submit">SUBMIT</button>
        </fieldset>
    </form>
    <a href='/users/login'>Already registered? Click Here</a>

    
    

</div>

{{#if message}}
        <div class='error'>
            {{message}}
        </div>
    {{/if}}
{{>footer}}
